//primary colors
$primaryColor1: hsl(215, 51%, 70%); //Soft Blue
$primaryColor2: hsl(178, 100%, 50%); //Cyan

//neutral colors
$neutralColor1: hsl(217, 54%, 11%); //Very dark blue (main BG)
$neutralColor2: hsl(216, 50%, 16%); //Very dark blue (card BG)
$neutralColor3: hsl(215, 32%, 27%); //Very dark blue (line)
$neutralColor4: hsl(0, 0%, 100%); //white
